@charset "utf-8";
/*http://bpatterns.blogspot.kr/2012/05/beige-paper.html*/
body {text-align: center; background-color: #EEE; background-image: url(../images/beige-paper.png); background-repeat: repeat; font-family: NanumBarunGothic, sans-serif;}
/*Masking: http://www.1stwebdesigner.com/create-textured-text-css/*/
/*Letterpress: http://www.midwinter-dg.com/permalink-7-great-css-based-text-effects-using-the-text-shadow-property_2011-03-03.html*/
h1 {margin: 1em 0 0.2em; font-size: 12em; color: #DDD; text-shadow: 0 1px 1px #FAFAFA, 0 -2px 2px #444; -webkit-transform: rotate(-5deg); -o-transform: rotate(-5deg); transform: rotate(-5deg); -webkit-mask-image: url(../images/rough-texture.png); -moz-mask-image: url(../images/rough-texture.png); -o-mask-image: url(../images/rough-texture.png); mask-image: url(../images/rough-texture.png);}
p.msg {margin-bottom: 2em; text-align: center; line-height: 2em; color: #666; font-size: 2em;}
a {border-radius: 1em; padding: 1em 1.5em; background-color: #666; color: #FFF; text-decoration: none;}
a:hover {background-color: #999; text-decoration: none;}

table {width: 50%; height: 10px; border-collapse: collapse; border-spacing: 0;}
table.gray6 tr td:first-child {background-color: #000; color: #FFF;}
table.gray6 tr td:nth-child(2) {background-color: #333; color: #FFF;}
table.gray6 tr td:nth-child(3) {background-color: #666; color: #FFF;}
table.gray6 tr td:nth-child(4) {background-color: #999;}
table.gray6 tr td:nth-child(5) {background-color: #CCC;}
table.gray6 tr td\:last-child {background-color: #FFF;}

table.gray4 tr td:first-child {background-color: #000; color: #FFF;}
table.gray4 tr td:nth-child(2) {background-color: #555; color: #FFF;}
table.gray4 tr td:nth-child(3) {background-color: #AAA;}
table.gray4 tr td:last-child {background-color: #FFF;}