body {font-family: 'NanumBarunGothic'; font-style:normal;}
div.background {position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: -1; overflow: hidden;}
div.background > img {filter: blur(0.5em); -webkit-filter: blur(0.5em); -moz-filter: blur(0.5em); -o-filter: blur(0.5em); -ms-filter: blur(0.5em); margin: -1em; min-height: 100%; min-width: 100%;}

div.wrapper {width: 50%; background-color: #FFF;}

table.gray6 > tbody > tr > td:first-child {background: #000; color: #FFF;}
table.gray6 > tbody > tr > td:nth-child(2) {background: #333; color: #FFF;}
table.gray6 > tbody > tr > td:nth-child(3) {background: #666; color: #FFF;}
table.gray6 > tbody > tr > td:nth-child(4) {background: #999;}
table.gray6 > tbody > tr > td:nth-child(5) {background: #CCC;}
table.gray6 > tbody > tr > td:last-child {background: #FFF;}

table.gray4 > tbody > tr > td:first-child {background: #000; color: #FFF;}
table.gray4 > tbody > tr > td:nth-child(2) {background: #555; color: #FFF;}
table.gray4 > tbody > tr > td:nth-child(3) {background: #AAA;}
table.gray4 > tbody > tr > td:last-child {background: #FFF;}

table.fontsize > tbody > tr > td:first-child {font-size: 0.25em;}
table.fontsize > tbody > tr > td:nth-child(2) {font-size: 0.5em;}
table.fontsize > tbody > tr > td:nth-child(3) {font-size: 0.75em;}
table.fontsize > tbody > tr > td:nth-child(4) {font-size: 1em;}
table.fontsize > tbody > tr > td:nth-child(5) {font-size: 1.25em;}
table.fontsize > tbody > tr > td:nth-child(6) {font-size: 1.5em;}
table.fontsize > tbody > tr > td:nth-child(7) {font-size: 1.75em;}
table.fontsize > tbody > tr > td:nth-child(8) {font-size: 2em;}
table.fontsize > tbody > tr > td:last-child {font-size: 3em;}

ul.fontfamily > li:first-child {font-family: 'NanumBarunGothic'; font-weight: 200;}
ul.fontfamily > li:nth-child(2) {font-family: 'NanumBarunGothic'; font-weight: 300;}
ul.fontfamily > li:nth-child(3) {font-family: 'NanumBarunGothic'; font-weight: 400;}
ul.fontfamily > li:nth-child(4) {font-family: 'NanumBarunGothic'; font-weight: 700;}
ul.fontfamily > li:nth-child(5) {font-family: 'NanumMyeongjo'; font-weight: 400;}
ul.fontfamily > li:nth-child(6) {font-family: 'NanumMyeongjo'; font-weight: 700;}
ul.fontfamily > li:nth-child(7) {font-family: 'NanumMyeongjo'; font-weight: 900;}
ul.fontfamily > li:nth-child(8) {font-family: 'NanumGothicCoding'; font-weight: 400;}
ul.fontfamily > li:last-child {font-family: 'NanumGothicCoding'; font-weight: 700;}

code {font-family: 'NanumGothicCoding'; background: #EEE;}

@media screen and (max-width:479px){
}
@media screen and (min-width:480px) and (max-width:767px){
}
@media screen and (max-width:767px){
	body {font-size: 16px;}
}
@media screen and (min-width:768px){
}
@media screen and (min-width:768px) and (max-width:1440px){
	body{font-size:20px;}
}
@media screen and (min-width:1441px) and (max-width:1920px){
	body{font-size:24px;}
}
@media screen and (min-width:1921px){
	body{font-size:28px;}
}
@media print {
}