/* At-rules */
@charset "UTF-8";

body {font-family: 'NanumBarunGothic'; font-style:normal; background: url('../images/background.jpg') center/cover no-repeat fixed;}
article {margin: 2rem auto;}

div.wrapper {position: absolute; min-height: 100%; left: 0; right: 50%; padding: 2em; background-color: #FFF;}

table.gray6 > tbody > tr > td:first-child {background: #000; color: #FFF;}
table.gray6 > tbody > tr > td:nth-child(2) {background: #333; color: #FFF;}
table.gray6 > tbody > tr > td:nth-child(3) {background: #666; color: #FFF;}
table.gray6 > tbody > tr > td:nth-child(4) {background: #999;}
table.gray6 > tbody > tr > td:nth-child(5) {background: #CCC;}
table.gray6 > tbody > tr > td:last-child {background: #FFF;}

table.gray4 > tbody > tr > td:first-child {background: #000; color: #FFF;}
table.gray4 > tbody > tr > td:nth-child(2) {background: #555; color: #FFF;}
table.gray4 > tbody > tr > td:nth-child(3) {background: #AAA;}
table.gray4 > tbody > tr > td:last-child {background: #FFF;}

table.fontsize > tbody > tr > td:first-child {font-size: 0.25em;}
table.fontsize > tbody > tr > td:nth-child(2) {font-size: 0.5em;}
table.fontsize > tbody > tr > td:nth-child(3) {font-size: 0.75em;}
table.fontsize > tbody > tr > td:nth-child(4) {font-size: 1em;}
table.fontsize > tbody > tr > td:nth-child(5) {font-size: 1.25em;}
table.fontsize > tbody > tr > td:nth-child(6) {font-size: 1.5em;}
table.fontsize > tbody > tr > td:nth-child(7) {font-size: 1.75em;}
table.fontsize > tbody > tr > td:nth-child(8) {font-size: 2em;}
table.fontsize > tbody > tr > td:last-child {font-size: 3em;}

ul.fontfamily > li:first-child {font-family: 'NanumBarunGothic'; font-weight: 200;}
ul.fontfamily > li:nth-child(2) {font-family: 'NanumBarunGothic'; font-weight: 300;}
ul.fontfamily > li:nth-child(3) {font-family: 'NanumBarunGothic'; font-weight: 400;}
ul.fontfamily > li:nth-child(4) {font-family: 'NanumBarunGothic'; font-weight: 700;}
ul.fontfamily > li:nth-child(5) {font-family: 'NanumMyeongjo'; font-weight: 400;}
ul.fontfamily > li:nth-child(6) {font-family: 'NanumMyeongjo'; font-weight: 700;}
ul.fontfamily > li:nth-child(7) {font-family: 'NanumMyeongjo'; font-weight: 800;}
ul.fontfamily > li:nth-child(8) {font-family: 'NanumGothicCoding'; font-weight: 400;}
ul.fontfamily > li:nth-child(9) {font-family: 'NanumGothicCoding'; font-weight: 700;}
ul.fontfamily > li:nth-child(10) {font-family: 'NanumSquare'; font-weight: 300;}
ul.fontfamily > li:nth-child(11) {font-family: 'NanumSquare'; font-weight: 400;}
ul.fontfamily > li:nth-child(12) {font-family: 'NanumSquare'; font-weight: 700;}
ul.fontfamily > li:nth-child(13) {font-family: 'NanumSquare'; font-weight: 800;}

ul.emRatio > li:first-child {font-size: 25em;}
	ul.emRatio > li:first-child > span {font-size: 0.01em;}
ul.emRatio > li:nth-child(2) {font-size: 12.5em;}
	ul.emRatio > li:nth-child(2) > span {font-size: 0.02em;}
ul.emRatio > li:nth-child(3) {font-size: 6.25em;}
	ul.emRatio > li:nth-child(3) > span {font-size: 0.04em;}
ul.emRatio > li:nth-child(4) {font-size: 5em;}
	ul.emRatio > li:nth-child(4) > span {font-size: 0.05em;}
ul.emRatio > li:nth-child(5) {font-size: 2.5em;}
	ul.emRatio > li:nth-child(5) > span {font-size: 0.1em;}
ul.emRatio > li:nth-child(6) {font-size: 1.25em;}
	ul.emRatio > li:nth-child(6) > span {font-size: 0.2em;}
ul.emRatio > li:nth-child(7) {font-size: 1em;}
	ul.emRatio > li:nth-child(7) > span {font-size: 0.25em;}
ul.emRatio > li:last-child {font-size: 0.5em;}
	ul.emRatio > li:last-child > span {font-size: 0.5em;}

code {font-family: 'NanumGothicCoding'; background: #EEE;}

/* @media screen and (prefers-color-scheme: no-preference) { */
/* @media screen and (prefers-color-scheme: light) { */
@media screen {	/* IE 11 Compatible */

}

@media screen and (prefers-color-scheme: dark) {
	
}

@media screen and (display-mode: fullscreen) {

}

/*Phone*/
@media screen and (max-width: 479px){
}
@media screen and (min-width: 480px) and (max-width: 767px) {
}
@media screen and (max-width: 767px) {
	
}

/*Desktop*/
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
	
}
@media screen and (min-width: 1441px) and (max-width: 1920px) {
	
}
@media screen and (min-width: 1921px) {
	
}

@media print {

}